processed_data/
raw_data/
.mypy_cache/
**/__pycache__/
*.zip
*.doc
*.ppt

# Python
*.pyc
.ipynb_checkpoints/
venv/
.venv/
env/

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.synctex.gz

# Editors and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
